In [1]:
import os

In [2]:
os.getcwd()

'C:\\PORT\\DART'

In [3]:
import pandas as pd
import numpy as np

In [16]:
dang = pd.read_excel("C:\PORT\DART\당기순이익.xlsx", index_col=0)
roe = pd.read_excel("ROE(영업이익).xlsx", index_col = 0)

In [19]:
roe

,A005930,A000660,A051910,A035420,A005380,A207940,A006400,A035720,A068270,A000270,...,A015260,A001420,A001210,A003280,A001770,A002420,A004920,A010580,A025890,A008500
Symbol,,,,,,,,,,,,,,,,,,,,,
2020-02-01,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-02,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-03,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-04,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-02-05,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-28,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-29,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-30,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-12-31,13.36,10.04,NaN,16.47,3.14,6.54,5.16,NaN,NaN,7.02,...,NaN,-2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
sr = roe.iloc[-1]
sd = dang.iloc[-1]

In [43]:
screen_df = pd.DataFrame(index = sr.index)
screen_df['roe'] = sr
screen_df['dang'] = sd


screen_df.dropna(axis = 0)

           roe          dang
A005930  13.36  2.640783e+10
A000660  10.04  4.758914e+09
A035420  16.47  8.449970e+08
A005380   3.14  1.924553e+09
A207940   6.54  2.409748e+08
...        ...           ...
A071090   0.23 -1.259003e+06
A009140   1.78  1.350533e+06
A014910  -2.35 -9.567281e+05
A010640   8.38  1.612417e+06
A001420  -2.01 -2.683113e+04

[103 rows x 2 columns]

In [28]:
screen_df = screen_df[screen_df['dang']>0]
screen_df['roe_rank'] = screen_df['roe'].rank()
screen_df

screen_df = screen_df.sort_values(by = 'roe_rank')
screen_df

screen_df[:20]

           roe          dang  roe_rank
A002870 -12.26  3.292270e+07       1.0
A002760   0.33  3.945085e+05       2.0
A004890   0.56  8.015170e+06       3.0
A051630   0.72  8.261015e+05       4.0
A105840   0.77  3.389817e+07       5.0
A017390   0.80  1.312408e+08       6.0
A009140   1.78  1.350533e+06       7.0
A005680   1.90  1.142417e+07       8.0
A003570   2.24  8.341660e+06       9.0
A139480   2.29  3.625726e+08      10.0
A006980   2.57  5.715732e+06      11.0
A088350   2.70  2.412112e+08      12.0
A009680   2.76  1.485890e+07      13.0
A028260   2.87  1.160651e+09      14.0
A000050   2.95  1.302570e+07      15.0
A014440   3.00  2.658898e+06      16.0
A005380   3.14  1.924553e+09      17.0
A026960   3.28  1.205888e+08      18.0
A009420   3.69  1.976450e+07      19.0
A006220   4.30  1.752100e+07      20.0

In [41]:
a = screen_df[:20].index.tolist()
a[1][1:]
for i in range(0, len(a), 1):
    a[i] = a[i][1:]
    
    
a

['002870',
 '002760',
 '004890',
 '051630',
 '105840',
 '017390',
 '009140',
 '005680',
 '003570',
 '139480',
 '006980',
 '088350',
 '009680',
 '028260',
 '000050',
 '014440',
 '005380',
 '026960',
 '009420',
 '006220']